extends layout
block content
  h1(style="text-align: center") Feel The News
  p(style="text-align: center")
    | We are Victor Yang, Sushan Jian and Ping-Ko Chiu. Welcome to Feel The News.
    br
    | Feel The News brings you statistical analysis of news articles and allows you to find the news you like to read!
    br
    | Please <a href="/register">register</a> or <a href="/login">login</a>!
